
body {
	font-family: 'Open Sans', sans-serif;
	background-color:#8B008B;
	color: #FFFFFF;
	padding: 0;
	margin: 0;
	font-size: 12pt;
	line-height: 1.4;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 180px;
    transition: 0.3s;
}


.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}


.tabcontent {
    display: none;
    padding: 6px 12px;
 } 


h1 {
	font-size: 30pt;
	margin: 0;
	margin-bottom: 20px;
	line-height: 1;
}

h2 {
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1;
	font-size: 10pt;
}

#current{
	background-color: #e0d20b
}

#title {
	text-align: center;
	margin-bottom: 20px;
}

#mainContainer {
	width: 70%;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}

#leftContainer {
	float: left;
	width: 50%;
}

#rightContainer {
	float: right;
	width: 30%;

}

#memoryContainer {
	float: left;
	margin-left: 40px;
	margin-right: auto;
	height: 80vh;
	width: 150px;
}

#memory {
	float: right;
	width: 150px;
	height: 100%;
}

#block {
	box-sizing: border-box;
	border: 1px solid #2C3E50;
	width: 100%;
}

#blockLabel {
	text-align: center;
	font-weight: bold;
	padding: 2px;
}

#logBoxContainer {
	width: 100%;
	float: left;
	font-family: Consolas, monospace;
	height: 400px;
	overflow: hidden;
}

#logBox {
	height: 100%;
	width: 100%;
	overflow: auto;
	padding-right: 20px; /* Hides scrollbar */
	display: none;
}

.available {
	background-color: #27ae60;
}

.unavailable {
	background-color: #c0392b;
}

#processTable {
	width: 400px;
}

#processTable th {
	text-align: left;
	padding-right: 20px;
}

#processTable td {
	color: #BDC3C7;
}

input {
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	border: 2px solid #95A5A6;
	border-radius: 6px;
	width: 200px;
	margin: 10px;
	margin-left: 0;
}


